@media all and (max-width:1000px) {

	#closemenu,
	#openmenu {
		display: inline-block;
	}

	#navigation {
		position: fixed;
		top: 0;
		left: -320px;
		bottom: 0;
		height: 100vh;
		background-color: var(--color-blue);
		padding: 20px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 320px;
		overflow: auto;
	}

	#closemenu {
		float: right;
	}

	.menu {
		padding-top: 20px;
		overflow: hidden;
		clear: both;
	}

	.menu li {
		float: none;
		margin: 0px 0px;
		margin-bottom: 20px;
	}

	.aboutus-img {
		width: 100%;
		margin-bottom: 50px;
	}

	.aboutus-content {
		width: 100%;
		padding-left: 0px;
	}

	.wrapper-properties-catalog .single-item {
		width: calc(50% - 20px);
	}

	.wrapper-faq {
		width: 100%;
		padding: 50px 10px;
	}

	.single-agents {
		width: calc(50% - 20px);
	}

	.wrapper-agents {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.wrapper-contact {
		width: 100%;
		padding-right: 0px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.single-address {
		width: 50%;
		padding: 15px;
	}

	.wrapper-form {
		width: 100%;
	}
}

@media all and (max-width:670px) {

	.wrapper-top {
		display: none;
	}

	.wrapper-properties-catalog .single-item {
		width: calc(100% - 20px);
	}

	.single-address {
		width: 100%;
		padding: 15px;
		text-align: center;
	}

	.wrapper-input input {
		width: 100%;
	}

	.single-agents {
		width: calc(100% - 20px);
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 40px;
	}
}